defaults
  option httplog

log-forward foo
  bind *:10080
  dgram-bind *:10080
  maxconn 1000
  log backend@be.foo len 65535 format raw local0
  option dontparselog
  option http-no-delay
  option assume-rfc6587-ntf

backend be.foo
  mode log
  log global
  balance roundrobin
  server foo01 127.0.0.1:10081
  server foo02 127.0.0.1:10082
